<div class="home">
  <div class="menu">
    <ul>
      <li>Home</li>
      <li>Profile</li>
    </ul>
  </div>
  <div class="feed">
    <p class="header">Accueil</p>
    <div class="tweet-form">
      <div contenteditable role="textbox" placeholder="Quoi de neuf ?" id="editTextNewTweet"></div>
      <hr>
      <div>
        <button class="btn-tweeter" (click)="tweet()">Tweeter</button>
      </div>
    </div>
    <app-tweet *ngFor="let tweet of getUser().feed" [tweet]="tweet"></app-tweet>
  </div>
  <div class="search">
    <input type="text" placeholder="Search">
  </div>
</div>
