.home {
  display: flex;
  width: 1500px;
  margin: auto;
}

.menu {
  flex: 1;
}

.main {
  flex: 2;
  border-left: solid 1px lightgrey;
  border-right: solid 1px lightgrey;
}

.search {
  flex: 1;
}
